
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #edc7c7;
}

main {
  position: relative;
  width: 65rem;
  height: 40rem;
  background-color: #edc7c7;
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

.game-container {
  gap: 6rem;
  background-color: #AD3047;
  padding: 6rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.player {
  flex: 50%;
  padding: 5rem 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}
.player--1{
  border-width: 2px 1px 2px 2px;
  border-style: solid;
  border-color: black;
  background-color :green;
}
.player--2{
  border-width: 2px 2px 2px 0px;
  border-style: solid;
  border-color: black;
  background-color: #AD3047;
}
.player1,
.player2 {
  text-align: center;
  font-size: 2rem;
  color: black;
}
.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.current-score {
  font-size: 2rem;
  color: bisque;
  text-align: center;
}
.score{
  font-size: 4rem;
  font-weight: 300;
  margin-top: auto;
  margin-bottom: 100px;
  color: bisque;
  text-align: center;
}

.btn--new{
  top: 6rem;
}
.btn--roll{
  top: 25rem;
}
.btn--hold{
  top: 30rem;
}
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.2rem 2rem;
  border: none;
  cursor: pointer;
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 400;
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}
.diceNum{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15rem;
  padding: 1.2rem 2rem;
  font-family: inherit;
  font-size: 1.1rem;
  background-color: white;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}
.btn:hover {
  background-color: #D8B3C3;
}
.btn:active{
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); 
}
  